In [35]:
import numpy as np
import pandas as pd
import json

In [36]:
# load table & mobie dataset
table = pd.read_csv('categories.csv', sep='\t', dtype=str)  # type: ignore
with open('/home/hellgoth/Documents/work/projects/culture-collections_project/culture-collections/data/volumes/dataset.json', 'r') as f:
    dataset = json.load(f)

In [37]:
table

,Clade according figure 1,new_filename_iteration4_manualRename,Spools,Cortical centrin,Apical centrin ring
0,Glaucophyta,rcc6731_pfa_dna-tub-nhs_20230616_od_s00,No,-,-
1,Glaucophyta,rcc6731_pfa_dna-tub-nhs_20230616_od_s01,No,-,-
2,Glaucophyta,rcc6731_pfa_dna-tub-nhs_20230616_od_s02,No,-,-
3,Glaucophyta,rcc6731_pfa_dna-tub-nhs_20230616_od_s03,No,-,-
4,Glaucophyta,rcc6731_pfa_dna-tub-nhs_20230616_od_s04,No,-,-
...,...,...,...,...,...
1762,Alveolata,vf21108_pfa_dna-tub-cetn_20251803_cl_04,No,No,No
1763,Alveolata,vf21108_pfa_tub-cetn-dna_20251803_cl_01,No,Yes,No
1764,Alveolata,vf21108_pfa_tub-cetn-dna_20251803_cl_02,No,Yes,No
1765,Alveolata,vf21108_pfa_tub-cetn_20251803_cl_03,No,Yes,-
1766,Alveolata,vf21108_pfa_tub-cetn_20251803_cl_05,No,Yes,-

In [38]:
table.describe()

,Clade according figure 1,new_filename_iteration4_manualRename,Spools,Cortical centrin,Apical centrin ring
count,1731,1757,1577,1711,1712
unique,10,1757,3,3,4
top,Alveolata,rcc6731_pfa_dna-tub-nhs_20230616_od_s00,No,-,-
freq,672,1,1522,927,936

In [39]:
table.loc[table["new_filename_iteration4_manualRename"] == "vf21108_pfa_tub-cetn_20251803_cl_03"]

,Clade according figure 1,new_filename_iteration4_manualRename,Spools,Cortical centrin,Apical centrin ring
1765,Alveolata,vf21108_pfa_tub-cetn_20251803_cl_03,No,Yes,-

In [40]:
table["Clade according figure 1"].value_counts()

Clade according figure 1
Alveolata        672
Viridiplantae    328
Haptophyta       175
Stramenopiles    172
Cryptista        141
Environmental    117
Discoba           94
Rhodophyta        25
Glaucophyta        5
Rhizaria           2
Name: count, dtype: int64

In [41]:
# iterate over all views and change to selection groups, add categories
new_dataset = dataset.copy()
for view_name, view in new_dataset["views"].items():
    if view_name == "default":
        continue
    if "uiSelectionGroups" not in view:
        view["uiSelectionGroups"] = ["all_volumes"]
        del view["uiSelectionGroup"]

    row = table.loc[table["new_filename_iteration4_manualRename"] == view_name]
    if not row.empty:
        clade = row["Clade according figure 1"].values[0]
        if clade != "Glaucophyta" and clade != "Rhizaria" and not pd.isna(clade):
            view["uiSelectionGroups"].append(clade.lower())
        if row["Spools"].values[0] == "Yes":
            view["uiSelectionGroups"].append("spools")
        if row["Cortical centrin"].values[0] == "Yes":
            view["uiSelectionGroups"].append("cortical_centrin")
        if row["Apical centrin ring"].values[0] == "Yes":
            view["uiSelectionGroups"].append("apical_centrin_ring")

In [42]:
# save to file and test
with open('/home/hellgoth/Documents/work/projects/culture-collections_project/culture-collections/data/volumes_with_categories/dataset.json', 'w') as f:
    json.dump(new_dataset, f, indent=2)